/* Tailwind에서 기본적으로 제공하지 않는 추가 유틀리티 클래스 정의 */

@layer utilities {
  /* 편지지 줄 css */
  .basic-theme {
    background-attachment: local;
    background-image:
      linear-gradient(to right, transparent 10px, transparent 10px),
      linear-gradient(to left, transparent 10px, transparent 10px),
      repeating-linear-gradient(
        transparent,
        transparent 30px,
        #f8de8c 30px,
        #f8de8c 31px,
        transparent 31px
      );
    line-height: 31px;
  }

  /* 편지지 테마 css */
  .basic {
    background: #ffffff;
  }
  .sky {
    background:
      url('../assets/images/sky-theme-asset-clouds.png'),
      linear-gradient(to bottom, #ffffff, #cbe1ff);
    background-size: 100%;
    background-repeat: repeat-y;
  }
  .celebrate {
    background:
      url('../assets/images/celebration-theme-asset-side.png') repeat-y,
      url('../assets/images/celebration-theme-asset-bottom.png') no-repeat bottom,
      #ffffff;
    background-size: 100%;
  }
  .vintage {
    background: url('../assets/images/vintage-theme-asset-bg.png') repeat-y;
    background-size: 100%;
  }
  .vintage {
    background: url('../assets/images/vintage-theme-asset-bg.png') repeat-y;
    background-size: 100%;
  }
  .field {
    background:
      url('../assets/images/field-theme-asset-bottom.png') no-repeat bottom,
      #ffffff;
    background-size: 100%;
  }
  .field::after {
    content: '';
    background: url('../assets/images/field-theme-asset-bird.png') no-repeat;
    width: 30px; /* bird 이미지의 원본 너비 */
    height: 30px; /* bird 이미지의 원본 높이 */
    position: absolute;
    top: 80px;
    right: 8%; /* 수평 중앙 정렬 */
    transform: translateX(-50%);
  }

  .modal-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0px);
  }

  .background-image-filled {
    @apply bg-[image:var(--bg-image)] bg-[length:100%_100%] bg-center;
  }

  /* Onboarding */
  .comment {
    @apply bg-gray-10 rounded px-6 py-2;
  }

  .comment::after {
    @apply border-t-gray-10 border border-t-10 border-r-6 border-b-10 border-l-6 border-r-white/0 border-b-white/0 border-l-white/0;
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid !important;
  }

  .letter-gradient {
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  }

  /* letter-box */
  .window-bg {
    background: linear-gradient(to bottom, #d5b695, #b3895d);
  }

  .window-top-checked {
    background: linear-gradient(to bottom, #ffffff, #fff5ed);
  }

  .window-top-unChecked {
    background: linear-gradient(to bottom, #ffffff, #fff4f2);
  }

  .window-bottom-checked {
    background: linear-gradient(to bottom, #FFF7E3, #FFE197);
  }

  .window-bottom-unChecked {
    background: linear-gradient(to bottom, #FFF4F2, #FFE6E3);
  }
}
